<header>
  <h2><a href="<%= url '/' %>">Boxes Monitor</a></h2>
  <h3>Monitored Tools</h3>
</header>

<table>
  <tr>
    <th>Tool</th>
    <th>Latest Version</th>
    <th>&nbsp;</th>
  </tr>

  <% @tools.each do |tool| %>
  <tr>
    <td><%= tool.name %></td>
    <td><%= tool.versions.latest.version %></td>
    <td><a href="<%= url "/tools/#{tool.id}" %>">Info</a></td>
  </tr>
  <% end %>
</table>
